<h1>Who is Mackenzie Goodnow?</h1>
<hr>

<div class="row">
    <div class="col-md-4">
      <%= image_tag "18670930_1292563090855203_7177287633402855490_n (1).jpg", width: 300, alt: "Profile Image" %>
    </div>
    <div class="col-md-8">
      <p>Hey, welcome to my very own web page!</p>
      <p>I built this during the program Code to Success with the help of Jordan Hudgens.  I am pretty new to coding, but I really like it so far.  Anyways, my name is Mackenzie, as you most likely already know, I am 17 but turn 18 on August 26.  I am an only child.  I have a pet lizard named 
      Johnny and a snake named Kit.  They're both very cute.</p>
      <p>Things I like:</p>
      <ul>
        <li>Space</li>
        <li>Aviation</li>
        <li>Reptiles</li>
        <li>Cool Places</li>
        <li>Music</li>
      </ul>  
    </div>
</div>

