<h1>If you need to contact me</h1>

<p>My phone number: <%= number_to_phone "8013672484" %></p>

<p>My email: kenzocosmos@gmail.com or kenziegoodnow@gmail.com</p>

<p>I'm on Facebook as Mackenzie Goodnow</p>

<p>I'm on Instagram as kenzocosmos</p>

<p>I'm on Snapchat as kenzieg13</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.6556051243665!2d-111.68854548418943!3d40.32780027937538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8541d7d6a629%3A0xa17539de3775f739!2s1664+N+400+E+St%2C+Orem%2C+UT+84097!5e0!3m2!1sen!2sus!4v1500484584118" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>