<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">My name is Mackenzie Goodnow and this is my first web page. Feel free to explore the features.  If you want to learn more about me (who wouldn't?!) click down below.</p>
  <p class="lead">
   <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>